## Задание 5
### 5.1 Найдите картинку в интернете и прикрепите её в ячейку с текстом

### 5.2 Создайте следующую таблицу в ячейке с текстом

<table bgcolor='green' border="5" bordercolor="red">
        <tr>        
            <th></th>
            <th>До события</th>
            <th>Время события</th>
        </tr>
        <tr>
            <td><b>1 контрольная точка</b></td><td>250</td><td>500</td>
        </tr>
        <tr>
            <td><b>2 контрольная точка</b></td><td>350</td><td>700</td>
        </tr>
        <tr>
            <td><b>3 контрольная точка</b></td><td>400</td><td>800</td>
        </tr>
        <tr>
            <td></td><td></td><td></td>
        </tr>
        <tr>
            <td><b>Итого за победу</b></td><td>1000</td><td>2000</td>
        </tr>    
    </table>

## Задание 6
### Напишите функцию, которая может принимать любое количество трат пользователя и считать сумму и среднее.
    * На вход поступают целочисленные значения в любом количестве
    * На выходе словарь с ключами суммы трат и средней траты

In [43]:
def sum_and_mean(*args):
    return {
            "sum": sum(args),
            "mean": sum(args)/len(args)
        }

In [44]:
sum_and_mean(5, 10, 15, 50)

{'sum': 80, 'mean': 20.0}

In [45]:
def sum_and_mean_2(*args):
    summa = 0
    num = 0
    for el in args:
        summa += el
        num += 1
    return {
            "sum": summa,
            "mean": summa/num
    }

In [46]:
sum_and_mean_2(5, 10, 15)

{'sum': 30, 'mean': 10.0}

In [47]:
def print_values(**kwargs):
    for key, values in kwargs.items():
        print(f"Значение для {key} является {values}")

In [48]:
def print_values2(**kwargs):
    {print(f"Значение для {key} является {values}") for key, values in kwargs.items()}

In [49]:
print_values2(
    name_1="Alex",
    name_2="Gray",
    name_3="Harper",
    name_4="Phoenix",
    name_5="Remy",
    name_6="Val"
)

Значение для name_1 является Alex
Значение для name_2 является Gray
Значение для name_3 является Harper
Значение для name_4 является Phoenix
Значение для name_5 является Remy
Значение для name_6 является Val

In [50]:
def func(required_arg, *args,**kwargs):
    print('r_a:', required_arg)
    if args:
        print('args: ', args)
    if kwargs:
        print('kwargs: ', kwargs)

In [51]:
func('required_arg', 1,2, keyword=4)

r_a: required_arg
args:  (1, 2)
kwargs:  {'keyword': 4}

### Треюования к ДЗ по заданию №4

In [52]:
list_dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

In [53]:
my_str = '2021-11-14'

In [54]:
my_str.split('-')

['2021', '11', '14']

In [55]:
my_str[5:7]

'11'

In [56]:
_, month, _ = my_str.split('-')

In [57]:
month

'11'